.sidebar-channel{
    display: flex;
}
.sidebar-channel:hover .channel-buttons{
    visibility: visible;
    cursor: pointer;
}

.sidebar-channel > .channel-title{
    display: flex;
    padding-left: 15px;
    align-items: center;
    background-color: #000000;
    color:rgb(255, 255, 255);
    cursor: pointer;
}

.sidebar-channel__hash{
    font-size: 1rem;
    padding: 8px;
    color: #ffa900;
}

.channel-buttons{
    visibility: hidden;
}

.edit__channel{
    color: #119DA4;
}

.delete__channel{
    color: rgb(233, 46, 46);
}